interactions:
- request:
    body: '{"transactions": [{"date": "2021-09-16", "amount": 3.5, "payee": "Test",
      "notes": "Test Description"}], "apply_rules": false, "skip_duplicates": true,
      "check_for_recurring": false, "debit_as_negative": false, "skip_balance_update":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: POST
    uri: https://dev.lunchmoney.app/v1/transactions
  response:
    body:
      string: '{"ids":[55335002]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12-66DTo/oaEeV6Eb7gkPnvJrhrhdg"
    status:
      code: 200
      message: OK
version: 1
