interactions:
- request:
    body: '{"date": "2021-09-16", "payee": "Test", "notes": "Test Transaction Group",
      "transactions": [55330396, 55335002]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: POST
    uri: https://dev.lunchmoney.app/v1/transactions/group
  response:
    body:
      string: '55335945'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8-5lnniODji2C5FfYYSxXS6ANzPZc"
    status:
      code: 200
      message: OK
version: 1
