interactions:
- request:
    body: '{"name": "Test Category", "description": "Test Category Description", "is_income":
      false, "exclude_from_budget": true, "exclude_from_totals": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: POST
    uri: https://dev.lunchmoney.app/v1/categories
  response:
    body:
      string: '{"category_id":251537}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16-BLL2IxbxaRopKZFXwZ9TARckwPY"
    status:
      code: 200
      message: OK
version: 1
