interactions:
- request:
    body: '{"balance": "5.2"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: PUT
    uri: https://dev.lunchmoney.app/v1/assets/21845
  response:
    body:
      string: '{"id":21845,"type_name":"cash","subtype_name":"digital wallet (paypal,
        venmo)","name":"Splitwise Balance","balance":"5.2000","balance_as_of":"2021-09-16T01:21:04.667Z","currency":"usd","institution_name":"Splitwise","created_at":"2021-08-28T16:06:02.701Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"100-g6mas+VnAC9IqEwPffEvP8Kt/Q8"
    status:
      code: 200
      message: OK
version: 1
