interactions:
- request:
    body: '{"transactions": [{"date": "2021-09-19", "amount": 3.5, "payee": "Random
      Test", "asset_id": 23043, "notes": "Random Test Description: 2021-09-19 23:50:22.981630"}],
      "apply_rules": false, "skip_duplicates": true, "check_for_recurring": false,
      "debit_as_negative": false, "skip_balance_update": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: POST
    uri: https://dev.lunchmoney.app/v1/transactions
  response:
    body:
      string: '{"ids":[55910062]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12-lSWY/FUEcAiVauPmEoAu6iRuL1E"
    status:
      code: 200
      message: OK
version: 1
