interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: GET
    uri: https://dev.lunchmoney.app/v1/crypto
  response:
    body:
      string: '{"crypto":[{"id":2939,"source":"manual","created_at":"2021-09-16T14:10:07.976Z","name":"","display_name":"","balance":"5.000000000000000000","balance_as_of":"2021-09-16T14:25:02.792Z","currency":"BTC","status":"active","institution_name":"Coinbase"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb-VvgVMmh1Es4cPzzCdPJ4FFUFOzg"
    status:
      code: 200
      message: OK
version: 1
