interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: GET
    uri: https://dev.lunchmoney.app/v1/transactions/53725270
  response:
    body:
      string: '{"id":53725270,"date":"2021-09-06","payee":"Vail","amount":"103.5000","currency":"usd","notes":"Food
        Vouchers","category_id":229144,"recurring_id":null,"asset_id":null,"plaid_account_id":41575,"status":"cleared","is_group":false,"group_id":null,"parent_id":null,"has_children":null,"tags":null,"external_id":null,"original_name":"IMPRINT
        EVENTS GROUP","type":null,"subtype":null,"fees":null,"price":null,"quantity":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a4-J4k0gMDd7FaFWGpuY58wQxfdP8U"
    status:
      code: 200
      message: OK
version: 1
