interactions:
- request:
    body: '{"split": null, "transaction": {"notes": "Updated on 2021-09-19 23:50:23.465801"},
      "debit_as_negative": false, "skip_balance_update": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: PUT
    uri: https://dev.lunchmoney.app/v1/transactions/55907976
  response:
    body:
      string: '{"updated":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10-dkPpo4JFIcQ3LWuPXbQ1isdU9JU"
    status:
      code: 200
      message: OK
version: 1
