interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - XXXXXXXXXX
    method: GET
    uri: https://dev.lunchmoney.app/v1/assets
  response:
    body:
      string: '{"assets":[{"id":21966,"type_name":"cash","subtype_name":"checking","name":"Ally
        Checking Import","display_name":"Ally Checking Import","balance":"1459.8200","balance_as_of":"2021-08-31T05:29:46.069Z","currency":"usd","closed_on":null,"institution_name":null,"created_at":"2021-08-31T05:24:33.936Z"},{"id":21845,"type_name":"cash","subtype_name":"digital
        wallet (paypal, venmo)","name":"Splitwise Balance","display_name":"Splitwise","balance":"5.2000","balance_as_of":"2021-09-14T02:36:34.136Z","currency":"usd","closed_on":null,"institution_name":"Splitwise","created_at":"2021-08-28T16:06:02.701Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25a-VTnCc24JllK39qMJj04S6hJ4pOo"
    status:
      code: 200
      message: OK
version: 1
